<li>
  <p>
    <small> <%= post.user.name %> </small>
    <% if(locals.user && locals.user.id == post.user.id ){ %>
    <small><a href="/posts/delete-post/<%= post.id %>">DELETE</a></small>
    <%}%>
  </p>
  <h4><%= post.content %></h4>
  <div id="post-comments">
    <h4>Comments:</h4>
    <% if(locals.user){%>
    <form
      action="/comments/create-comment"
      id="new-comments-form"
      method="POST"
    >
      <input
        type="text"
        name="content"
        placeholder="Add a comment here..."
        required
      />
      <input type="hidden" name="post" value="<%= post.id %>" />
      <input type="submit" value="Add Comment" />
    </form>
    <%}%>
    <div class="post-comments-list">
      <ul class="post comments-<%= post._id %>">
        <% for(comment of post.comments){%> <%- include('_comment') %> <%}%>
      </ul>
    </div>
  </div>
</li>
