<link rel="stylesheet" href="/css/user_profile.css" />
<h1><%= user.name %></h1>
<img src="<%= user.avatar %>" alt="<% user.name %>" width="100" />

<% if(user.id == profile_user.id){ %>
<form
  id="update-profile"
  action="/users/update-profile/<%= user.id %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="New Name"
    value="<%= profile_user.name %>"
  />
  <input
    type="email"
    name="email"
    placeholder="New Email"
    value="<%= profile_user.email %>"
  />
  <input
    type="file"
    name="avatar"
    id=""
    placeholder="Profile Picture"
    accept=".png, .jpg, .jpeg"
  />
  <input type="submit" value="Update" />
</form>
<%}else{%>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<%}%>
